.spacer {
	min-height: 100%;
}

.oui{
  font-size: 30px;
}
.nom
{
  margin-left: 15vw;
  font-size: 40;
  text-align: left;
}
.nom2
{
  margin-left: 19vw;
  margin-top: -5vh;
  font-size: 30;
  text-align: left;
}

.competence
{
  margin-left: 40vw;
  font-size: 30;
  width: auto;
  text-align: left;
}
.competence2
{
  margin-left: 43vw;
  margin-top: -5vh;
  font-size: 20;
  width: auto;
  text-align: left;
  
}

.experience
{
  margin-left: 10vw;
  font-size: 30;
  text-align: left;
}
.experience2
{
  margin-left: 13vw;
  margin-top: -5vh;
  font-size: 20;
  text-align: left;
}

.passion
{
  margin-left: 25vw;
  font-size: 30;
  text-align: left;
}
.passion2
{
  margin-left: 27vw;
  margin-top: -5vh;
  font-size: 20;
  text-align: left;
}



html, body, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);  
    color: #fff;
    background: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

    }

  * {
    font-family: 'open sans', 'lato', 'helvetica', sans-serif;
    }

.page {
    position: absolute;
}
  
#p1 {
    left: 0;
}

#p2, #p3, #p4, #p5 {
    left: 200%;
  }
  
  #p1 { background: url("../images/City.jpg"); }
  #p2 { background: tomato; }
  #p3 { background: gold; }
  #p4 { background: deeppink; }
  #p5 { background: rebeccapurple; }
  
  #t2:target #p2,
  #t3:target #p3,
  #t4:target #p4,
  #t5:target #p5 {
    transform: translateX(-190%);
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%);
    -o-transform: translateX(-190%);
    transition-delay: .4s !important;
  }
  
  #t2:target #p1, 
  #t3:target #p1,
  #t4:target #p1,
  #t5:target #p1{
    background: url("../images/City.jpg");
  }
  
  #t2:target #p1, 
  #t3:target #p1,
  #t4:target #p1,
  #t5:target #p1 .icon {
    -webkit-filter: blur(10px);
  }
  
  .icon {
    color: rgb(255, 255, 255);
    font-size: 32px;
    display: block;
    margin-top: 10vh;
  }
  
  ul .icon:hover {
    opacity: 0.5;
  }
  
  .page .icon .title {
    line-height: 2;
  }
  
  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon,
  #t5:target ul .icon{
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    transition-delay: .25s;
  }
  
  #t1:target #uno,
  #t2:target #dos,
  #t3:target #tres,
  #t4:target #cuatro,
  #t4:target #cinco {
    transform: translateX(-9%);
    -webkit-transform: translateX(-9%);
    -moz-transform: translateX(-9%);
    -o-transform: translateX(-9%);
    
  }
  
  .listMenu {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 280px;
    width: 10%;
    padding: 0;
    text-align: center;
   }
  
  #menu .icon {
    margin: 30px 0;
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    display: flex;
    flex-direction: column;
    font-size: 4vh;
  }
  
  a {
    text-decoration: none;
  }
  
  .title, .hint {
    display: block;
  }
  
  .title {
    font-size: 38px;
  }
  
  .hint {
    font-size: 13px;
  }
  
  #p4 .hint {
    display: inherit !important;
  }
  
  .hint a {
    color: yellow;
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
  }
  
  .hint a:hover {
    color: rgb(255, 255, 255);
  }
  
  .line-trough {
    text-decoration: line-through;
  }
  
  .page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    
    height: 170px;
    margin: auto;
    text-align: center;
    font-size: 60px;
    line-height: 1.3;
    transform: translateX(360%);
    -webkit-transform: translateX(360%);
    -moz-transform: translateX(360%);
    -o-transform: translateX(360%);
    transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  }
  
  .page#p1 .icon {
    height: 220px;
    margin-top: 10vh;
  }
  
  .page#p1 .icon {
    transform: translateX(10%) !important;
  }
  
  #t2:target .page#p2 .icon,
  #t3:target .page#p3 .icon,
  #t4:target .page#p4 .icon,
  #t5:target .page#p5 .icon {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transition-delay: 1s;
  }
  
  




/* Logo */

/*

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: lato;
}

#navbar {
    background: #000000;
    padding: 200px 500px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.4s;
}

#navbar a {
    float: left;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
}

#navbar-right {
    float: right;
}

*/





/* thumbnail */


.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
  }
  
  .media {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .media:hover {
    cursor: pointer;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }
  
  .media:hover .overlay {
    opacity: 1;
  }
  
  img {
    width: 100%;
    z-index: -1;
    margin: auto;
    transform: scale(1);
    transition: all ease-in-out 0.5s;
  }
  
  .media:hover img {
    transform: scale(1.1);
    filter: blur(2px);
  }
  
  .image-details {
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 4;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }
  
  .media:hover .image-details {
    top: 40%;
    opacity: 1;
  }